---
- name: Adminuser
  hosts: linux
  become: true

  tasks:
    - name: Add_Admin_User
      ansible.builtin.user:
        append: true
        groups: sudo
        name: "{{ admin_user }}"
        password: "{{ password }}"
        shell: /bin/bash
        state: present
