---
- name: Adminuser
  hosts: linux
  become: true
  gather_facts: false

  vars_files:
    - ../vars/pswd.yml

  tasks:
    - name: Add_Admin_User
      ansible.builtin.user:
        append: true
        groups: sudo
        name: "{{ admin_user }}"
        password: "{{ password }}"
        shell: /bin/bash
        state: present
