---
- name: adminuser
  hosts: linux
  become: true

  tasks:
    - name: Admin
      ansible.builtin.user:
        append: true
        group: sudo
        name: "{{ admin_user }}"
        password: "{{ password }}"
        shell: /bin/bash
        state: present